dgh.apk
sensor/inols.log
sensor/inols-err.log
sensor/inols-clangd.log
sensor/inols-clangd-err.log
access.txt
replace.txt
.gitignore
*.log
BUILD/mobile/app/src/main/res/values/strings.xml
BUILD/sensor/sensor.ino
BUILD/web/classes/Controller.php
BUILD/web/classes/SunsetSunriseInfo.php
BUILD/web/cronjob.php
BUILD/web/includes/conx.php
GITHUB/mobile/app/src/main/res/values/strings.xml
GITHUB/sensor/sensor.ino
GITHUB/web/classes/Controller.php
GITHUB/web/classes/SunsetSunriseInfo.php
GITHUB/web/cronjob.php
GITHUB/web/includes/conx.php
mobile/app/build/**